* {
  box-sizing: border-box;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  padding: 24px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: lightblue;
}

legend {
  font-size: large;
  font-weight: bold;
}

.dados-pessoais {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: lightblue;
}

.dados-pessoais div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.genero {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.genero div {
  flex-direction: row;
  align-items: center;
}

.endereco {
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.endereco div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 4px;
}

@media screen and (max-width: 400px) {
  .genero {
    flex-direction: column;
    gap: 8px;
  }
}
